/* stylelint-disable selector-not-notation, selector-class-pattern, no-descending-specificity */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */




 :root,
 .dropin-design.dropin-design {
  /* Font Family  */
  --heading-font-family: 'Oxygen', sans-serif;
  --type-base-font-family: 'Oxygen', sans-serif;

  /* body sizes */
  --body-font-size-xxs: 10px;
  --body-font-size-xs: 12px;
  --body-font-size-s: 14px;
  --body-font-size-md: 16px;
  --body-font-size-lg: 20px;
  --body-font-size-xl: 24px;

  /* heading sizes */
  --heading-font-size-xs: 18px;
  --heading-font-size-s: 20px;
  --heading-font-size-md: 24px;
  --heading-font-size-l: 32px;
  --heading-font-size-xl: 36px;
  --heading-font-size-xxl: 40px;

  /* Elsie base design */
  --color-brand-300: #F5E96D;
  --color-brand-500: #9e1d26;
  --color-brand-600: #FFE600;
  --color-brand-700: #F7D522;
  --color-black-100: #000;
  --color-black-200: #202020;
  --color-neutral-50: #fff;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f5f5f5;
  --color-neutral-300: #e8e8e8;
  --color-neutral-400: #d6d6d6;
  --color-neutral-500: #b8b8b8;
  --color-neutral-600: #8f8f8f;
  --color-neutral-700: #666;
  --color-neutral-800: #3d3d3d;
  --color-neutral-900: #292929;
  --color-positive-200: #eff5ef;
  --color-positive-500: #7fb078;
  --color-positive-800: #53824c;
  --color-informational-200: #eeeffb;
  --color-informational-500: #6978d9;
  --color-informational-800: #5d6dd6;
  --color-warning-200: #fdf3e9;
  --color-warning-500: #e79f5c;
  --color-warning-800: #cc7a2e;
  --color-alert-200: #ffebeb;
  --color-alert-500: #db7070;
  --color-alert-800: #c35050;
  --color-button-active: var(--color-brand-700);
  --color-button-focus: var(--color-neutral-400);
  --color-button-hover: var(--color-brand-600);
  --color-action-button-active: var(--color-neutral-50);
  --color-action-button-hover: var(--color-neutral-300);
  --color-opacity-16: rgb(255 255 255 / 16%);
  --color-opacity-24: rgb(255 255 255 / 24%);
  --grid-1-columns: 4;
  --grid-1-margins: 0;
  --grid-1-gutters: 16px;
  --grid-2-columns: 12;
  --grid-2-margins: 0;
  --grid-2-gutters: 16px;
  --grid-3-columns: 12;
  --grid-3-margins: 0;
  --grid-3-gutters: 24px;
  --grid-4-columns: 12;
  --grid-4-margins: 0;
  --grid-4-gutters: 24px;
  --grid-5-columns: 12;
  --grid-5-margins: 0;
  --grid-5-gutters: 24px;
  --shape-border-radius-1: 3px;
  --shape-border-radius-2: 8px;
  --shape-border-radius-3: 24px;
  --shape-border-width-1: 1px;
  --shape-border-width-2: 1.5px;
  --shape-border-width-3: 2px;
  --shape-border-width-4: 4px;
  --shape-shadow-1: 0 0 16px 0 rgb(0 0 0 / 16%);
  --shape-shadow-2: 0 2px 16px 0 rgb(0 0 0 / 16%);
  --shape-shadow-3: 0 2px 3px 0 rgb(0 0 0 / 16%);
  --shape-icon-stroke-1: 1px;
  --shape-icon-stroke-2: 1.5px;
  --shape-icon-stroke-3: 2px;
  --shape-icon-stroke-4: 4px;
  --spacing-xxsmall: 4px;
  --spacing-xsmall: 8px;
  --spacing-small: 16px;
  --spacing-medium: 24px;
  --spacing-big: 32px;
  --spacing-xbig: 40px;
  --spacing-xxbig: 48px;
  --spacing-large: 64px;
  --spacing-xlarge: 72px;
  --spacing-xxlarge: 96px;
  --spacing-huge: 120px;
  --spacing-xhuge: 144px;
  --spacing-xxhuge: 192px;
  --type-display-1-font: normal normal 300 6rem/7.2rem
    var(--heading-font-family);
  --type-display-1-letter-spacing: 0.04em;
  --type-display-2-font: normal normal 300 4.8rem/5.6rem
    var(--heading-font-family);
  --type-display-2-letter-spacing: 0.04em;
  --type-display-3-font: normal normal 300 3.4rem/4rem
    var(--heading-font-family);
  --type-display-3-letter-spacing: 0.04em;
  --type-headline-1-font: normal normal 400 2.4rem/3.2rem
    var(--heading-font-family);
  --type-headline-1-letter-spacing: 0.04em;
  --type-headline-2-default-font: normal normal 300 2rem/2.4rem
    var(--heading-font-family);
  --type-headline-2-default-letter-spacing: 0.04em;
  --type-headline-2-strong-font: normal normal 400 2rem/2.4rem
    var(--heading-font-family);
  --type-headline-2-strong-letter-spacing: 0.04em;
  --type-body-1-default-font: normal normal 300 1.6rem/2.4rem
    var(--type-base-font-family);
  --type-body-1-default-letter-spacing: 0.04em;
  --type-body-1-strong-font: normal normal 400 1.6rem/2.4rem
    var(--type-base-font-family);
  --type-body-1-strong-letter-spacing: 0.04em;
  --type-body-1-emphasized-font: normal normal 700 1.6rem/2.4rem
    var(--type-base-font-family);
  --type-body-1-emphasized-letter-spacing: 0.04em;
  --type-body-2-default-font: normal normal 300 1.4rem/2rem
    var(--type-base-font-family);
  --type-body-2-default-letter-spacing: 0.04em;
  --type-body-2-strong-font: normal normal 400 1.4rem/2rem
    var(--type-base-font-family);
  --type-body-2-strong-letter-spacing: 0.04em;
  --type-body-2-emphasized-font: normal normal 700 1.4rem/2rem
    var(--type-base-font-family);
  --type-body-2-emphasized-letter-spacing: 0.04em;
  --type-button-1-font: normal normal 400 2rem/2.6rem
    var(--type-base-font-family);
  --type-button-1-letter-spacing: 0.08em;
  --type-button-2-font: normal normal 400 1.6rem/2.4rem
    var(--type-base-font-family);
  --type-button-2-letter-spacing: 0.08em;
  --type-details-caption-1-font: normal normal 400 1.2rem/1.6rem
    var(--type-base-font-family);
  --type-details-caption-1-letter-spacing: 0.08em;
  --type-details-caption-2-font: normal normal 300 1.2rem/1.6rem
    var(--type-base-font-family);
  --type-details-caption-2-letter-spacing: 0.08em;
  --type-details-overline-font: normal normal 400 1.2rem/2rem
    var(--type-base-font-family);
  --type-details-overline-letter-spacing: 0.16em;

  /* Additional tokens */
  --type-fixed-font-family: var(--type-base-font-family);
  --background-color: var(--color-neutral-50);
  --nav-height: 6.4rem;
  --med-grid-layout: 792px;
  --large-grid-layout: 1200px;
}

@font-face {
  font-family: 'Source-Serif-Pro-Fallback';
  src: local('Arial');
  size-adjust: 107%;
  ascent-override: normal;
  descent-override: 32%;
  line-gap-override: normal;
}

html, body {
  font-size: var(--body-font-size-xxs);
  height: 100%;
}

body {
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
  margin: 0;
  color: var(--color-black-100);
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body.appear {
  display: block;
}

body:not(.appear) {
  visibility: hidden;
}

header {
  height: var(--nav-height);
}

/* Need to adjust main because of positioning of the fixed header */
main {
  margin-top: 105px;
}

@media (width < 768px) {
  main {
    margin-top: 40px;
  }
}

h1 {
  font: var(--type-display-1-font);
  letter-spacing: var(--type-display-1-letter-spacing);
}

h2 {
  font: var(--type-display-2-font);
  letter-spacing: var(--type-display-2-letter-spacing);
}

h3 {
  font: var(--type-display-3-font);
  letter-spacing: var(--type-display-3-letter-spacing);
}

h4 {
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
}

h5 {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

h6 {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
}

h1,h2,h3,h4,h5,h6 {
  width: fit-content;
  margin: 0;

}

/*.section .default-content-wrapper h1::after,
.section .default-content-wrapper h2::after,
.section .default-content-wrapper h3::after,
.section .default-content-wrapper h4::after,
.section .default-content-wrapper h5::after,
.section .default-content-wrapper h6::after {
  border-bottom: 2px solid var(--color-brand-500);
  content: "";
  display: block;
  padding-top: 8px;
  min-width: 84px;
  width: fit-content;
}*/

.section.center {
    display: flex;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--color-neutral-300);
}

code,
pre,
samp {
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  font-family: var(--type-fixed-font-family);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--color-neutral-300);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--color-black-100);
  font: var(--type-body-1-strong-font);
  letter-spacing: var(--type-body-1-strong-letter-spacing);
  text-decoration: none;
}

a:hover {
  text-decoration: solid underline var(--color-brand-700);
  text-underline-offset: 6px;
  color: var(--color-brand-700);
}

a:focus-visible {
  outline: solid var(--shape-border-width-4) var(--color-neutral-400);
  border: var(--shape-border-width-1) solid var(--color-neutral-800);
  border-radius: var(--shape-border-radius-1);
}

u {
  text-underline-offset: 6px;
}

a > u,
button > u {
  text-decoration: none;
}

button {
  border: none;
  font: var(--type-base-font-family);
}

button.button-primary,
a.button-primary {
  display: block;
  background-color: var(--color-brand-500);
  font-size: var(--body-font-size-md);
  font-weight: 600;
  color: var(--color-black-100);
  padding: 8px 24px;
  width: fit-content;
  height: auto;
  letter-spacing: 0.08em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
}

button.button-primary:hover,
a.button-primary:hover {
  background-color: var(--color-brand-600);
}

button.button-primary:active,
a.button-primary:active {
  background-color: var(--color-brand-700);
}

button.button-secondary,
a.button-secondary {
  display: block;
  background-color: var(--color-black-100);
  font-size: var(--body-font-size-md);
  font-weight: 600;
  color: var(--color-neutral-50);
  padding: 8px 24px;
  width: fit-content;
  height: auto;
  letter-spacing: 0.08em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
}

.button-tertiary {
  font-size: var(--body-font-size-md);
  font-weight: 600;
  color: var(--color-black-100);
  padding: 8px 24px;
  width: fit-content;
  height: auto;
  letter-spacing: 0.08em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
  background: none;
}

a.button.disabled,
button:not([class^='elsie-']):disabled,
button:not([class^='elsie-']):disabled:hover {
  background-color: var(--color-neutral-300);
  cursor: unset;
}

a.button.secondary,
button:not([class^='elsie-']).secondary {
  background-color: unset;
  border: var(--shape-border-width-3) solid currentcolor;
  color: var(--color-brand-500);
}

a.button.secondary:hover,
button:not([class^='elsie-']).secondary:hover {
  color: var(--color-brand-600);
}

.button-tertiary:hover {
  color: var(--color-neutral-700);
  cursor: pointer;
}

main input:hover {
  border: 1px solid var(--color-neutral-700);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 2rem 15px
}

@media (width <= 768px) {
  main .section {
    padding: 1.5rem 15px
  }
}

@media (width >=1024px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--color-neutral-500);
}

main .section.default-width {
  max-width: var(--med-grid-layout);
  margin: 0 auto;
}

main .section.max-width {
  max-width: var(--large-grid-layout);
  margin: 0 auto;
}

main .section.bottom-divider {
  padding: 2rem 2rem 4rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-neutral-300);
}

main .section.top-divider {
  padding: 4rem 2rem 2rem;
  margin-top: 2rem;
  border-top:  1px solid var(--color-neutral-300);
}

main .section.section-title .default-content-wrapper:first-of-type p {
  margin: 0;
  width: fit-content;
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

main .section.section-title .default-content-wrapper:first-of-type p::after {
  border-bottom: 2px solid var(--color-brand-600);
  content: "";
  display: block;
  padding-top: 8px;
  min-width: 84px;
  width: fit-content;
}

/* Breadcrumb */

.breadcrumb-wrapper {
  max-width: var(--large-grid-layout);
  margin: 0 auto;
  padding: 4rem 0 1rem;
  box-sizing: border-box;
}

.breadcrumb-wrapper,
.breadcrumb-wrapper a,
.breadcrumb-wrapper span {
  font-size: var( --body-font-size-xxs);
  text-transform: uppercase;
}

.breadcrumb-wrapper a,
.breadcrumb-wrapper span {
  padding: 0.5rem;
  line-height: 21px;
  letter-spacing: 0.16em;
}

.breadcrumb-wrapper a:hover {
  color: var(--color-neutral-900);
  text-decoration: solid underline var(--color-neutral-900);
}

@media (width <= 768px) {
  .breadcrumb-wrapper {
    padding: 1rem;
  }
}

/* Accordion */
.accordion details summary {
  position: relative;
  padding: 2rem 0;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  border-top: 1.5px solid var(--color-neutral-400);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: "+"; /* Plus sign icon */
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  transition: transform 0.2s;
  font-size: var(--body-font-size-lg);
}

.accordion details[open] summary::after {
  content: "-"; /* Minus sign icon */
  transform: translateY(-50%);
}

.accordion details summary > div {
  font-weight: bold;
}

.accordion details .accordion-item-body {
  padding: 0 0 2rem;
}

.accordion details .accordion-item-body ul {
  margin: 0;
}

.accordion details .accordion-item-body p {
  margin-bottom: 1.5rem;
}

.accordion details .accordion-item-label.open-default::after {
  display: none;
}

/* Base Design System Tokens */
.dropin-design.dropin-design {
  --background-none: none 0 0% no-repeat padding-box;
}

/* Global PDP columns overrides */
@media (width >= 1024px) {
  .dropin-design .pdp-product .pdp-product__gallery-column {
    grid-column: 1 / span 7;
  }

  .dropin-design .pdp-product .pdp-product__content-column {
    grid-column: 8 / span 5;
  }

  .dropin-design .pdp-product .pdp-product__breadcrumbs {
    grid-column: 1 / -1;
  }
}

/* Primary Buttons */
.dropin-design .dropin-button--primary,
.dropin-design .dropin-iconButton--primary,
.dropin-design .dropin-button--primary:hover,
.dropin-design .dropin-iconButton--primary:hover,
.dropin-design .dropin-button--primary:hover:active,
.dropin-design .dropin-iconButton--primary:focus,
.dropin-design .dropin-button--primary:focus,
.dropin-design .dropin-button--primary:focus:hover {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 900;
  background: var(--color-brand-500);
  color: var(--color-black-100);
}

/* Secondary Buttons */
.dropin-design .dropin-button--secondary,
.dropin-design .dropin-iconButton--secondary,
.dropin-design .dropin-button--secondary:hover,
.dropin-design .dropin-iconButton--secondary:hover,
.dropin-design .dropin-button--secondary:hover:active,
.dropin-design .dropin-iconButton--secondary:focus,
.dropin-design .dropin-button--secondary:focus,
.dropin-design .dropin-button--secondary:focus:hover {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 900;
  background: var(--color-black-100);
  color: var(--color-neutral-50);
}

.dropin-design .dropin-button--tertiary,
.dropin-design a.dropin-button--tertiary,
.dropin-design .dropin-iconButton--tertiary {
  color: var(--color-black-100);
  padding: 0;
}

.dropin-design .dropin-button--tertiary:hover,
.dropin-design a.dropin-button--tertiary:hover,
.dropin-design .dropin-iconButton--tertiary:hover {
  color: var(--color-neutral-700);
}

/* Disabled Buttons */
.dropin-design .dropin-button:disabled {
  background: var(--color-neutral-500);
  color: var(--color-neutral-50);
}


/* Hide minicart SKU */
.dropin-design .dropin-cart-item__sku {
  display: none;
}


:root {
    --font-primary: 'Oxygen', sans-serif;
    --font-secondary: 'PT Serif', serif;
    --color-primary: #1a78e5;
    --color-heading: #273043;
    --color-bg: #E8EBF7;
    --color-white: #fff;
    --color-dark: #171c29;
    --color-grey: #3F6470;
    --color-light-grey: rgba(39, 48, 67, 0.9);
    --color-pink: #ad1e56;
}

html,
body {
    font-family: var(--font-primary);
    font-weight: 400;
}

body > header {
    height: unset;
}

body:not(.modern-nav) > main {
    margin-top: 60px;
}
body:not(.modern-nav) > main:not(.blog) {
    margin-top: 130px;
}

* {
    box-sizing: border-box;
}

.header .header-nav-wrapper {
    top: 0;
    padding: 1.35em 0;
    background: linear-gradient(to bottom, var(--color-white), rgba(255, 255, 255, .92));
    transition: background .2s ease-out;
}
.header .header-nav-wrapper .nav-brand .icon {
    filter: contrast(100);
}
.header .header-nav-wrapper:not(.minimized) {
    border: none;
}
.header .section.nav-brand {
    padding: 10px 10px 0;
}
.header nav {
    max-width: unset;
}
.header nav a:any-link {
    font-family: var(--font-primary);
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: -0.4px;
    user-select: none;
}
.header nav .nav-sections ul {
    justify-content: flex-end;
    align-items: center;
}
.header nav .nav-tools {
    gap: 10px;
}
@media (width < 768px) {
    .header nav .nav-tools {
        gap: unset;
    }
}
.header .big-logo .icon {
    width: 220px;
    height: auto;
    transition: width 200ms ease-in-out;
}
.header .big-logo .icon > img {
    width: 100%;
    height: auto;
}
@media (width < 768px) {
    .header .big-logo .icon {
        width: 180px;
    }
}
@media (width<=768px) {
    .header {
        margin-bottom: 108px;
    }
}

.carousel {
    &.carousel-type-a {
        .carousel-slide-image {
            width: 100%;
            height: auto;
        }
        .carousel-slide {
            max-height: 500px;
            border-radius: 20px;
            width: 100%;
            overflow: hidden;
            .carousel-slide-content {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .30) 50%, rgba(0, 0, 0, 0) 100%);
                height: 100%;
                padding: 0;
                display: block;
                h2 {
                    font-family: var(--heading-font-family, var(--font-primary));
                    margin: 0 0 5px 60px;
                    font-weight: 400;
                    margin-top: 20%;
                    color: var(--color-white);
                    text-shadow: 0 1px rgba(0, 0, 0, .2);
                    font-size: 42px;
                    line-height: 1.2;
                    letter-spacing: -1px;
                    &::after { content: none; }
                }
                p:first-of-type {
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--color-white);
                    line-height: 1.5;
                    text-shadow: 0 1px rgba(0, 0, 0, .2);
                    margin: 0 60px 20px 60px;
                    padding: 0;
                    font-style: normal;
                    letter-spacing: -.4px;
                }
            }
        }
        a.button-primary {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: var(--color-heading);
            letter-spacing: normal;
            padding: 10px 13px 12px;
            margin-left: 60px;
            background: var(--color-white);
            border: 1px solid var(--color-bg);
            border-radius: 10px;
            transition: all .15s ease-in-out;
        }
        .carousel-navigation-buttons {
            left: -0.5rem;
            right: -0.5rem;
            button, button:hover { background-color: transparent; }
            button::after { height: 10px; width: 10px; }
        }
        .carousel-slide-indicators { display: none; }
    }
    &.carousel-type-b {
        .carousel-slide {
            .carousel-slide-content {
                width: 100%;
                padding: 0;
                background-color: var(--color-white);
                h2, p:first-of-type {
                    font-weight: 400;
                    color: var(--color-heading);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    line-height: 1.2;
                    -webkit-line-clamp: 2;
                    letter-spacing: -1px;
                    padding: 0;
                    margin: 0;
                }
                h2 {
                    font-size: 60px;
                    &::after { content: none; }
                }
                p:first-of-type {
                    color: rgba(39, 48, 67, 0.50);
                    font-size: 20px;
                    margin-top: 20px;
                }
                a.button-primary {
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--color-white);
                    line-height: 1;
                    letter-spacing: normal;
                    padding: 7px 15px;
                    display: inline-block;
                    background: var(--color-primary);
                    border-radius: 4px;
                    transition: all .15s ease-in-out;
                }
            }
        }
        .carousel-navigation-buttons {
            position: absolute;
            top: -21%;
            transform: translateY(-50%);
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 2;
            button {
                background-color: var(--color-pink);
                margin-right: 1px;
                &:hover { background-color: var(--color-pink); }
            }
        }
        .carousel-slide-indicator { display: none; }
        .carousel-slides { min-height: 220px; }
        &.v2 {
            .carousel-slide { flex: 0 0 24%; }
            .carousel-slide-image { width: 100%; }
            h2 {
                font-size: 18px;
                color: var(--color-heading);
                font-weight: 500;
                line-height: normal;
            }
            p:nth-of-type(2) {
                font-size: 16px;
                color: rgba(0, 0, 0, .6);
                line-height: 1.4;
                margin: 0;
                padding: 0;
            }
            .carousel-slides { gap: 15px; }
            .carousel-navigation-buttons { top: -11%; }
            @media (width<=768px) { .carousel-slide { flex: 0 0 99%; } }
            @media (width<=1024px) { .carousel-slide { flex: 0 0 49%; } }
        }
    }
}

.godrej-carousel-block.carousel-container { max-width: unset; }

main .section.godrej-carousel-type-b {
    width: 100%;
    border: 1px solid var(--color-bg);
    border-radius: 10px;
    padding: 65px;
    max-width: 1400px;
    box-sizing: border-box;
    margin: 90px auto;
    .default-content-wrapper h2 {
        line-height: 1.28;
        color: rgba(0, 0, 0, .87);
        width: fit-content;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        padding: 0;
        margin-bottom: 35px;
        &::after { content: none; }
    }
}

.godrej-pdp {
    .dropin-design .dropin-button--primary {
        color: #fff;
        background: #1a78e5;
    }
}

.columns.user-manual {
    margin-top: 60px;
    &>div {
        max-width: 300px;
    }
    a.button {
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        color: #273043;
        letter-spacing: normal;
        padding: 10px 13px 12px;
        float: left;
        margin-bottom: 5px;
        background: #fff;
        border: 1px solid #e8ebf7;
        border-radius: 10px;
    }
    a.button:hover {
        text-decoration: none;
        color: #fff;
        background: #1a78e5;
        border-color: #1a78e5;
    }
}

.carousel.carousel-type-b.v2 {
    .carousel-slide {
        flex: 0 0 24%;
    }
    .carousel-slide-image {
        width: 100%;
    }
    h2 {
        font-size: 18px;
        color: #273043;
        font-weight: 500;
        line-height: normal;
    }
    p:nth-of-type(2) {
        font-size: 16px;
        color: rgba(0, 0, 0, .6);
        line-height: 1.4;
        margin: 0;
        padding: 0;
    }
    .carousel-slides {
        gap: 15px;
    }
    .carousel-navigation-buttons {
        top: -11%;
    }
    @media (width<=768px) {
        .carousel-slide {
            flex: 0 0 99%;
        }
    }
    @media (width<=1024px) {
        .carousel-slide {
            flex: 0 0 49%;
        }
    }
}

.hero-container {
    &.full-screen {
        margin: 0;
        margin-bottom: 200px;

        &.mb-min {
            margin-bottom: 30px;
        }

        @media (width<=768px) {
            margin-bottom: 10px;
        }
        .hero.block {
            /*min-height: 80vh;*/
            padding: unset;
            & img {
                object-position: top;
                object-fit: cover;
            }
            @media (width<=768px) {
                min-height: unset;
                & img {
                    height: auto;
                    min-height: 300px;
                }
                picture {
                    position: relative;
                }
            }
            @media (width>768px) and (width<1024px) {
                min-height: unset;
                & img {
                    height: auto;
                    min-height: 300px;
                    height: 500px;
                }
                picture {
                    position: relative;
                }
            }
        }
        .overlay-block {
            position: absolute;
            top: 10px;
            text-align: center;
            color: white;
            font-size: 28px;
            line-height: 30px;
            width: 100%;
            box-sizing: border-box;
            padding: 0 10%;
            em {
                color: #3F6470;
            }
        }
        @media(width>=1024px) {
            .overlay-block {
                top: 40px;
                font-size: 42px;
            }
        }
        .hero-desc-wrapper {
            display: block;
            border-radius: 10px;
            position: absolute;
            top: 93%;
            left: 1%;
            transform: translateY(-50%);
            height: max-content;
            border: none;
            padding: 40px;
            width: 50%;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
            background-color: #fff;
            h1 {
                color: #171c29;
                font-size: 5.2rem;
                line-height: 6.2rem;
                letter-spacing: .5px;
                font-family: 'Oxygen', sans-serif;
                max-width: 820px !important;
                @media (width < 768px) {
                    font-size: 40px;
                }
            }
            p {
                font-size: 1.2rem;
                line-height: 1.5rem;
                letter-spacing: 1px;
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
                color: #3F6470;
                text-transform: uppercase;
            }
            .button-container {
                a {
                    display: block;
                    padding: 18px 30px;
                }
            }
        }
        @media(width<=768px) {
            .hero-desc-wrapper {
                display: block;
                position: unset;
                transform: unset;
                height: max-content;
                border: none;
                padding: 10px;
                width: 100%;
                box-shadow: none;
            }
        }
        @media(width>=1024px){
            .hero-desc-wrapper{
                padding: 70px 140px;
            }
        }
    }
    &.button-small {
        .button-primary {
            display: inline-block;
            padding: 6px 15px;
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            line-height: 1;
            border-radius: 24px;
            background-color: #9e1c26;
        }
    }
}

.section.info-section {
    &.ribbon-bg {
        background: rgba(163, 162, 163, .11)
    }
    padding: 80px 0px;
    @media(width<=1024px) {
        padding: 80px 20px;
        p {
            font-size: 16px;
            line-height: 28px;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &::after {
            display: none;
        }
    }
    h1 {
        line-height: 1.28;
        color: rgba(0, 0, 0, .87);
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -1px;
        font-family: 'Oxygen', sans-serif;
        margin: 38px 0 25px 0;
    }
    h2 {
        color: rgba(0, 0, 0, .87);
        font-size: 3.2rem;
        line-height: 4.2rem;
        font-weight: bold;
        letter-spacing: .5px;
        font-family: 'Oxygen', sans-serif;
        margin: 0 0 30px 0;
    }
    h4 {
        font-size: 2.4rem;
        line-height: 3.4rem;
        font-weight: 300;
        letter-spacing: -1px;
        font-family: 'Oxygen', sans-serif;
        margin: 38px 0 25px 0;
    }
    p {
        font-family: 'Oxygen', sans-serif;
        font-size: 18px;
        line-height: 1.5;
        color: rgba(39, 48, 67, 0.9);
        padding: 0 0 30px;
        text-align: justify;
        margin: 0;
    }
    @media(width<=1024px) {
        p {
            font-size: 16px;
            line-height: 28px;
        }
        h2 {
            font-size: 32px;
            line-height: 42px;
        }
    }
    a {
        color: #3F6470;
        text-decoration: none;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    a:hover {
        text-decoration: underline;
        color: #3F6470;
    }
}

.single-block-styling {
    * {
        font-family: 'Oxygen', sans-serif;
    }
    &>.columns-wrapper {
        max-width: 1400px;
        padding-bottom: 60px;
        padding-top: 60px;
        & h2 {
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 26px;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        & h3 {
            font-weight: 400;
            letter-spacing: 1.5px;
            text-transform: none;
            font-size: 42px;
            line-height: 52px;
            margin-bottom: 40px;
        }
        & p {
            font-family: 'Oxygen', sans-serif;
        }
        & .columns-2-cols>div {
            gap: 64px;
            align-items: center;
        }
    }
}

a.button {
    &.primary {
        &:link,
        &:visited,
        &:hover {
            background: #9e1c26;
            order: 0;
            padding: 12px 30px;
            width: auto;
            color: #fff;
            text-decoration: none;
            border-radius: 40px;
            display: inline-block;
            font-family: 'Oxygen', sans-serif;
            font-size: 16px;
            letter-spacing: 2px;
            line-height: 24px;
        }
    }
    &.secondary {
        &:link,
        &:visited,
        &:hover {
            font-family: 'Oxygen', sans-serif;
            font-size: 1.75rem;
            font-weight: 700;
            letter-spacing: 1.9px;
            line-height: inherit;
            color: #171c29;
            border: none;
            display: flex;
            align-items: center;
            gap: 20px;
            text-decoration: none;
            &>.icon {
                width: 48px;
                height: 48px;
            }
        }
    }
}

a:any-link {
    color: #9e1d26;
}

@media (width >=1024px) {
    .section>div {
        max-width: 1400px;
    }
}

footer {
    padding: 0 !important;
    .footer {
        max-width: unset !important;
        & .default-content-wrapper {
            padding-top: 50px;
            h1 {
                font-size: 48px;
                text-align: center;
                width: 100%;
                @media (width < 768px) {
                    font-size: 28px;
                    line-height: 36px;
                    text-align: left;
                    padding: 0 20px;
                }
                &:after {
                    display: none;
                }
            }
        }
        & .wrapper {
            display: block;
        }
        & .heading-list {
            .columns.prudential-footer {
                margin: 0;
                padding: 0;
            }
            .columns {
                margin-top: 85px;
                &>div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: start;
                    gap: 0;
                    &>div {
                        margin-top: 40px;
                        padding: 20px;
                        width: 95%;
                        &:not(:last-child) {
                            border-right: 1px solid #921d26;
                        }
                    }
                    @media(width>=1024px) {
                        &>div {
                            align-self: stretch;
                        }
                    }
                    &>div:hover {
                        background-color: #921d26;
                    }
                    &>div:nth-of-type(3) {
                        &>p {
                            display: flex;
                            align-items: center;
                        }
                        span {
                            margin-right: 10px;
                        }
                    }
                    @media (width < 768px) {
                        flex-direction: column;
                    }
                }
                & h2 {
                    font-size: 2.4rem;
                    line-height: 1.42;
                    font-family: 'Oxygen', serif;
                    font-weight: 700;
                    color: #fff;
                    line-height: 1;
                    letter-spacing: .5px;
                    margin-bottom: 30px;
                    &+ul {
                        margin: 20px 0 0;
                        list-style: none;
                        padding: 0;
                    }
                }
                & p,
                & a {
                    font-family: 'Oxygen', sans-serif;
                    font-size: 18px;
                    line-height: 32px;
                    padding: 0 0 15px;
                    &>picture img {
                        width: auto;
                        height: 40px;
                    }
                }
                & ul {
                    &>li {
                        font-size: 12px;
                        line-height: 2.75rem;
                    }
                }
                &:nth-child(1) {
                    border-bottom: 2px solid #921d26;
                }
            }
        }
        & .social-links-4 .columns.block>div>div {
            &:nth-child(4)>ul {
                display: flex;
                flex-direction: row;
                align-items: start;
                gap: 10px;
                &>li {
                    background: #fff;
                    border-radius: 50%;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &>span {
                        width: 18px;
                        height: 18px;
                        line-height: 0
                    }
                }
            }
        }
        & .two-column-between .columns.block {
            padding: 20px;
            &>div {
                display: flex;
                justify-content: space-between;
            }
            &>div {
                font-weight: lighter;
                font-size: 1.2rem;
                line-height: normal;
                font-family: 'Oxygen', sans-serif;
                flex-direction: row;
                align-items: center;
            }
            & ul {
                margin: 0;
                padding: 0;
                list-style: none;
                flex-direction: column;
                text-align: center;
                display: flex;
                gap: 15px;
                @media (width < 768px) {
                    flex-direction: column;
                }
                &>li {
                    font-weight: lighter;
                    font-size: 1.2rem;
                    line-height: normal;
                    font-family: 'Oxygen', sans-serif;
                }
            }
        }
        & .col-copyright-2-4 .columns.block>div {
            margin-top: 20px;
            p {
                line-height: 1.8rem;
            }

            &>div:nth-child(1) {
                .icon {
                    filter: invert(1);
                }
            }
            &>div:nth-child(2) {
                display: flex;
                justify-content: end;
                gap: 20px;

                & ul>li:nth-child(4) {
                    font-weight: bold;
                }
            }
        }
    }
}


.section.godrej-single-block.link-block {
    padding: 2rem 10%;
    img {
        height: 350px;
        /*object-fit: contain;*/
    }
    h2 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
        color: #3F6470;
        font-family: 'Oxygen', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        padding-bottom: 5px;
    }
    h3 {
        font-size: 4.2rem;
        line-height: 5.2rem;
        color: #171c29;
        font-family: 'Oxygen', serif;
        font-weight: 700;
        letter-spacing: .5px;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    p {
        margin: 0;
        padding: 0 0 30px;
        font-size: 2.1rem;
        line-height: 3.8rem;
        letter-spacing: .5px;
        color: #171c29;
        a {
            line-height: normal;
            text-transform: uppercase;
            font-weight: bold;
            color: #3F6470;
            font-size: 1.4rem !important;
            letter-spacing: 1.5px !important;
            font-family: 'Oxygen', sans-serif !important;
            padding-right: 3rem;
        }
        a:hover {
            text-decoration: underline;
            color: #3F6470;
        }
        a:after {
            display: inline-block;
            width: 27px;
            height: 12px;
            content: '';
            background: url(/icons/arrow-right.svg) no-repeat right center;
            -webkit-transition: all .15s ease-in-out;
            -moz-transition: all .15s ease-in-out;
            -o-transition: all .15s ease-in-out;
            -ms-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
            margin-left: 10px;
        }
    }
}

.video {
    text-align: center;
    max-width: 900px;
    margin: 24px auto;
}

.video[data-embed-loaded='false']:not(.placeholder) {
    aspect-ratio: 16 / 9;
}

.video>div {
    display: flex;
    justify-content: center;
}

.video video {
    max-width: 100%;
}

.video .video-placeholder {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}

.video .video-placeholder>* {
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
}

.video .video-placeholder {
    picture {
        position: relative;
    }
    .video-placeholder-play {
        position: absolute;
    }
}

.video[data-embed-loaded='true'] .video-placeholder,
.video[data-embed-loaded='false'] .video-placeholder+* {
    visibility: hidden;
    height: 0;
    width: 0;
}

.video .video-placeholder picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video .video-placeholder-play button {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: 2px solid;
    padding: 0;
}

.video .video-placeholder-play button::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 24px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%);
}

.column-style {
    h2 {
        padding-bottom: 10px;
        padding-top: 20px;
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
        color: #3F6470;
        font-family: 'Oxygen', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        a {
            text-decoration: none;
            margin: 0 0 10px 0;
            font-size: 2.4rem;
            line-height: 3.4rem;
            font-family: 'Oxygen', serif;
            font-weight: 700;
            letter-spacing: .5px;
            color: #3F6470;
        }
        a:hover {
            text-decoration: underline;
            color: #3F6470;
        }
    }
    h3 {
        a {
            text-decoration: none;
            margin: 0 0 10px 0;
            font-size: 2.4rem;
            line-height: 3.4rem;
            font-family: 'Oxygen', serif;
            font-weight: 700;
            letter-spacing: .5px;
            color: #3F6470;
        }
        a:hover {
            box-shadow: 0 -1px 0 0 #3F6470 inset, 0 -2px 0 0 #3F6470 inset;
            transition: all .5s ease;
            color: #3F6470;
        }
    }
}

.section.investor-section {
    margin-top: 0;
    background-color: #f5f4f3;
    padding: 10px;
    .default-content-wrapper {
        h1 {
            font-family: 'Oxygen', sans-serif;
            font-size: 5.2rem;
            line-height: 6.2rem;
            letter-spacing: .5px;
            color: #171c29;
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
        }
        h2 {
            font-family: 'Oxygen', sans-serif;
            font-size: 18px;
            line-height: 32px;
            letter-spacing: .5px;
            color: #171c29;
            padding: 0 0 30px;
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
        }
        h5 {
            font-family: 'Oxygen', serif;
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 4.2rem;
            margin: 38px 0 40px 0;
            letter-spacing: .5px;
            color: #171c29;
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
        }
        h1:after,
        h2:after,
        h5:after {
            content: none;
        }
    }
}

.section.investor-section>div {
    padding-right: 0%;
    padding-left: 0%;
    margin: 0 auto;
}

@media(width>768px) {
    .section.investor-section>div {
        padding-right: 5%;
        padding-left: 5%;
        margin: 0 auto;
    }
}

.columns.breadcrumb {
    gap: 5px;
    display: inline-flex;
}

.tabs.with-fragment {
    padding-top: 50px;
    .tabs-list {

    }
    .tabs-tab {
        font-family: 'Oxygen', serif;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #171c29;
        padding: 25px 0 26px;
        border-bottom: 1px solid transparent;
        transition: all 1s ease;
        text-decoration: none;
        padding: 20px;
        border: none;
    }
    .tabs-tab[aria-selected='true'] {
        color: #3F6470;
        border-bottom: 1px solid #3F6470;
        transition: all 1s ease;
        background-color: transparent;
    }
    .tabs-panel {
        border: none;
        padding: 0;
        h2 {
            font-size: 3.2rem;
            line-height: 4.2rem;
            letter-spacing: 0;
            color: #171c29;
            font-family: 'Oxygen', serif;
            font-weight: bold;
        }
    }
    a.button {
        color: #171c29;
        border: solid 1px #171c29;
        padding: 10px 15px 11px 16px;
        text-transform: uppercase;
        font-family: 'Oxygen', sans-serif;
        text-decoration: none;
        font-size: 10px;
    }
    a.button:hover {
        color: #fff;
        background: #3F6470;
        border-color: #3F6470;
        transition: all .5s ease;
    }
    .section.form-container, .form, .form input, .form select, .form option{
        background-color: #f5f4f3;
        font-family: 'Oxygen', sans-serif;
        font-size: 18px;
    }
    @media(width<=768px) {
        .form form .field-wrapper{
            grid-column: span 10;
        }
    }
    @media(width>768px) {
        .form form .field-wrapper{
            grid-column: span 6;
        }
        .form form .checkbox-wrapper.field-agreement.field-wrapper{
            grid-column: span 12;
        }
    }
}

.table {
    margin-top: 65px;
    font-family: 'Oxygen', sans-serif;
    table {
        thead {
            tr {
                border: none;
                th {
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1px;
                    border: 0 none;
                    text-transform: uppercase;
                    color: rgba(13, 19, 29, 0.4);
                    padding: 20px 2px;
                }
            }
        }
        tbody {
            td {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1px;
                color: #171c29;
                padding: 20px 2px;
                font-family: 'Oxygen', sans-serif;
                h3 {
                    font-family: 'Oxygen', serif;
                    color: #171c29;
                    letter-spacing: .5px;
                    line-height: 42px;
                    font-weight: bold;
                    font-size: 2.1rem;
                    text-transform: none;
                }
                @media(width<=768px) {
                    h1,
                    h2,
                    h3 {
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

.table.table-type-2 {
    table {
        margin-bottom: 75px;
        thead {
            th:nth-child(2) {
                background-color: white;
            }
            th:not(:first-child) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        tbody {
            td:nth-child(1) {
                width: 60%;
            }
            td:nth-child(2) {
                background-color: white;
            }
            td:not(:first-child) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.tabs-panel-5 {
    .fragment {
        display: flex;
        flex-wrap: wrap;
        .button-container {
            margin-right: 10px;
        }
    }
}

.embed-wrapper {
    .snapData {
        background-color: #4ABDAC;
        color: white;
        font-family: 'Oxygen', sans-serif;
        padding: 20px;
    }
    .left {
        display: inline-block;
        margin-right: 20px;
    }
    .datetime {
        font-size: 14px;
    }
    .priceval {
        font-size: 24px;
    }
    .currency {
        font-size: 12px;
    }
    .line {
        height: 1px;
        background-color: white;
        margin-top: -5px;
        margin-bottom: 10px;
    }
    .lastLabel {
        font-weight: bold;
    }
    .font12.OxygenRegular.delay {
        font-size: 12px;
    }
}

.card-block {
    .icon {
        filter: invert(1);
    }
}

.section.stock-detail.embed-container {
    background: #e5eaef;
    .embed {
        margin-bottom: 0;
        padding-bottom: 1%;
    }
}

.section.bg-grey {
    background: #e5eaef;
    .embed {
        margin-bottom: 0;
        padding-bottom: 1%;
    }
    font-family: 'Oxygen',
    sans-serif;
    .columns>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.default-embed {
    padding-bottom: 10%;
    @media(width<=768px) {
        padding-bottom: 90%;
    }
}

.columns.hero-column {
    h1 {
        font-size: 5.2rem;
        line-height: 6.2rem;
        letter-spacing: .5px;
        color: #171c29;
        font-family: 'Oxygen', serif;
        font-weight: bold;
    }
    p,
    a {
        font-family: 'Oxygen', sans-serif;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: #3F6470;
        text-transform: uppercase;
        margin-bottom: 8px;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        color: #3F6470;
    }
}

.section.normal-width {
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    h2 {
        font-size: 3.2rem;
        line-height: 4.2rem;
        font-family: "PT Serif", serif;
    }
    h2:after {
        content: none;
    }
}

.section.normal-width.bg-teal {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 10%;
    padding-right: 10%;
}

.bg-teal {
    background-color: #27a0a6;
    & div {
        & .card-block div {
            margin-right: 8.33333333%;
            padding: 0 11px;
        }
        & p {
            margin: 0;
            color: white;
            font-family: 'Oxygen', sans-serif;
            text-transform: uppercase;
        }
        & p:first-of-type {
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 1px;
            font-weight: 400;
            display: table-cell;
            vertical-align: bottom;
            height: 45px;
        }
        & p:nth-of-type(2) {
            font-size: 4.2rem;
            line-height: 5.2rem;
            font-family: 'Oxygen', serif;
            font-weight: 700;
            margin: 0 0 10px 0;
            letter-spacing: .5px;
        }
        & p:nth-of-type(3) {
            margin-top: 14px;
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 1px;
            font-family: 'Oxygen', sans-serif;
            font-weight: 400;
        }
    }
}

.calculator-content {
    h2 {
        margin-bottom: 20px;
    }
    @media(width<=768px) {
        .calc-elem {
            margin-bottom: 20px;
        }
    }
    @media(width>=768px) {
        padding-left: 5%;
        padding-right: 10%;
    }
    font-family: Oxygen,
    sans-serif;
    .calc-elem {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .calc-elem.btn-wrapper {
        justify-content: flex-end !important;
    }
    p {
        margin: 0;
        padding: 0 5px 0 0;
        vertical-align: middle;
        font-size: 18px;
        line-height: 32px;
    }
    input[type="text"],
    input[type="number"] {
        background: inherit;
        font: 400 12px "Oxygen", sans-serif;
        color: rgba(13, 19, 29, 0.6);
        padding: 9px 0px;
        margin: 0;
        border-bottom: 1px solid #171c29;
        border-radius: 0px;
        width: 220px;
        outline: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        text-transform: uppercase;
        letter-spacing: 1.7px;
        line-height: 20px;
        white-space: nowrap;
        clear: both;
        height: 32px;
        text-align: right;
    }
    .calculateHolding {
        font: 400 14px "Oxygen", sans-serif;
        color: #171c29;
        border: 1px solid #171c29;
        border-radius: 0px;
        padding: 15px 25px 14px 25px;
        width: auto;
        height: 47px;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-appearance: none;
        outline: none;
        letter-spacing: 1.5px;
        vertical-align: middle;
        margin: 20px 0;
    }
}

.columns-3-cols h3 {
    font-size: 2rem;
}

.title-mb-3 {
    h1,h2,h3,h4,h5,h6 {
        margin-bottom: 30px;
        @media(width<=768px) {
            margin-bottom: 20px;
        }

    }

    h2 {
        font-size: 4rem;
    }
}

.overlay-txt-dark {
    .overlay-block > *{
        color: #9d1e25;
    }
}
